body{
    margin: 0%;
    padding: 0%;
    color: antiquewhite;
    font-family: 'Gayathri', sans-serif;
}
.header{
    display: flex;
    background-color: #06805b;
    width: auto;
    height: 130px;
}
.header-name {
    flex: 1;
    padding-top: 90px;
    color: white;
    margin-left: 45px;
}
.nav {
    flex: 1;
    display: flex;
    float: right;
    margin: 30px;
    margin-top: 60px;
    margin-left: 700px;
}

.nav li {
    display: inline-block;
    padding: 0 20px 0 20px;
    margin-top: 30px;
    
}

.li a {
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.li a:hover {
    color: antiquewhite;
}

.body {
    min-height: 450px;
    background-image: url('../images/landing-image.jpg');
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    background-color: #06805b;
    width: auto;
    height: 130px;
}
.footer p{
    padding-top: 75px;
    text-align: center;
}