body{
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: 'Gayathri', sans-serif;
}

.header {
    width: 100%;
    height: 70px;
    background-color: green;
    padding: 10px;
    top: 0;
}

.header h1 {
    font-weight: lighter;
}

.body {
    display: flex;
    height: 100%;
    background-color: rgb(193, 226, 193);
    padding: 20px;
}

.show-case {
    width: 50%;
    height: 100%;
    margin: auto;
    color: green;
    padding-top: 30px;
}

.show-case p {
    text-align: justify
}

.form-holder {
    width: 50%;
    height: 100%;
    margin: auto;
    padding: 10px;
}

.form-container {
    margin: auto;
    width: 55%;
    height: 85%;
    background-color: white;
    padding: 20px;
}

.form-container h1{
    color: #06805b;
    font-weight: lighter;
    color: #06805b;
}

.form-container a{
    text-decoration: none;
    color: #06805b;
}

label {
    color: #06805b;
}
.form-container input {
    width: 95%;
    padding: 5px;
    height: 40px;
    margin: 10px;
    border-radius: 4px;
}

button {
    width: 100%;
    background: #06805b;
    height: 50px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 30px;
    color: #ededed;
    border: none;
}

.footer {
    width: 100%;
    height: 70px;
    background-color: green;
    padding: 10px;
    bottom: 0;
}